.button {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
}